@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/*tailwind style*/
.max-width {
  @apply max-w-[1440px] mx-auto;
}

.padding-x {
  @apply sm:px-16 px-6;
}

.padding-y {
  @apply py-4;
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.custom-btn {
  @apply flex flex-row relative justify-center items-center py-3 px-6 outline-none;
}
/*Navbar*/
.Navber_contact_icon{
  @apply w-[25px] h-[25px];
}

/*Hero page*/
.hero {
  @apply flex gap-16 relative max-w-[1440px] mx-auto text-white z-0;
}

.hero__title {
  @apply 2xl:text-[72px] sm:text-[64px] text-[50px] font-extrabold;
}

.hero__subtitle {
  @apply text-[27px] font-light mt-5;
}

.hero__image-container {
  @apply flex justify-end items-end w-full relative bg-none;
}

.hero__image {
  @apply relative xl:w-full w-[80%] h-[500px] items-end justify-items-end bottom-0 z-20 bg-none;
}
.hero__text-container{
  @apply pt-36 flex-col padding-x bg-none;
}
.hero__image-overlay {
  @apply absolute rounded-full bg-[#FF7A00] w-[1200px] h-[1200px] z-10 object-contain -right-full -top-20 hidden;
}
/* START: Custom Filter styles */
.custom-filter__btn {
  @apply relative w-full min-w-[127px] flex justify-between items-center cursor-default rounded-lg bg-white py-2 px-3 text-left shadow-md sm:text-sm border;
}

.custom-filter__options {
  @apply absolute mt-1 max-h-60 w-full overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm;
}
/*footer*/
.footer {
  @apply flex flex-col text-white  mt-5 border-t border-gray-100;
}

.footer__links-container {
  @apply flex max-md:flex-col flex-wrap justify-between gap-5 sm:px-16 px-6 py-10;
}

.footer__rights {
  @apply flex flex-col justify-start items-start gap-6;
}

.footer__links {
  @apply flex-1 w-full flex md:justify-end flex-wrap max-md:mt-10 gap-20;
}

.footer__link {
  @apply flex flex-col gap-6 text-base min-w-[170px];
}

.footer__copyrights {
  @apply flex justify-between items-center flex-wrap mt-10 border-t border-gray-100 sm:px-16 px-6 py-10;
}

.footer__copyrights-link {
  @apply flex-1 flex sm:justify-end justify-center max-sm:mt-4 gap-10;
}

*:not(div, img) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  background-color: #262626;
}
.navbar{
  display: grid;
  grid-template-columns: 200px 480px auto 560px 150px;
  grid-gap: 50px;
  align-items: center;
  padding: 20px;
}
.navbar_list_menu{
  display: flex;
  justify-content: space-between;
}
.navbar_list_contact{
  display: flex;
  justify-content: space-between;
  gap: 5;
}
.search_bar{
  background-color: aliceblue;
  width: 550px;
  height: 45px;
  border-radius: 10px;
  color: gray;
  font-weight: 500;
  padding: 10px;
  align-items: center;
  display: flex;
}

.navbar_menu{
  color: #FF7A00;
  font-weight: 600;
  font-size: 16px;
}
.Hero_text{
  color: #FF7A00;
  font-weight: 700;
  font-size: 24px;
}
